/*About us*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1.8rem;
}

/*Loyalty registration*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1.8rem;
}
  